*{
    margin: 0;
    padding:0;
    font-style: normal;
    font-family:'Valorant';
}


@font-face {
    font-family: 'Valorant';
    src: url('Fonts/Valorant.ttf') ;
}


.skins-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.5rem));
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
}


.skin-card {
    background-color:#fffddf;
    border-radius: 1rem;
    border-style: solid;
    border-color:#fd4556;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    padding: 1rem;
}

.skin-card:hover {
    transform: scale(1.05);
}


.skin-image {
    width: 100%;
    height: auto;
}


.skin-card h2 {
    color: #33343a;
    font-size: 1.2rem;
    padding-top: 0.5rem;
}


