*{
    margin: 0;
    padding:0;
    font-style: normal;
    font-family:'Valorant';
}



@font-face {
    font-family: 'Valorant';
    src: url('../assets/Valorant.ttf') ;
}
:root{
    --color-nav:#33343a;
    --color-text: #ffffff;
    --color-background:#ffffff;
    --color-hover:#fd4556;
}


.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding: 1rem;
    background-color:#33343a;
    position: sticky;
    top: 0;
    flex-wrap: wrap;

}

.nav img{
    margin-bottom: 1rem;
    width: 6rem;
    height: auto;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.menu li a{
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3, ease-in-out;
    position: relative;

}

.menu li a:hover{
    color:#fd4556;
    background-color:#fadadd59 ;
    padding: 5px 10px;
    border-radius: 5px;

}


.tittle{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    color: var(--color-text);
}
.tittle img{
    width: 9rem;
    height: auto;
}
.icon-user{
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
}
.icon-user a{
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3, ease-in-out;
}
.icon-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-color: white; 
}


.icon-user a:hover{
    color: var(--color-card-background);
    background-color:var(--color-hover) ;
    padding: 5px 10px;
    border-radius: 5px;

}
body{
    background-color:#ece8e1;
    overflow-x: hidden;
}

.footer{
    display: flex;
    width: 100%;
    padding:2rem;   
    background-color:#33343a;
    bottom:0;
    color: #ffffff;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.footer-left,.footer-right{


    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

}

.footer-center{

    flex: 1;
    display: flex;
    justify-content: center;
    gap: 1.5rem;

}
.footer-center img,
.footer-right img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
}
.footer-center img:hover,
.footer-right img:hover {
    transform: scale(1.1);
}